{% extends "base.html" %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static '/css/ehome.css' %}" />
<main class="main-class">
  <div class="welcome-track">
    <h2>Welcome to Leave Management System</h2>

    <p>Track your leave status and apply for new leaves with ease.</p>
  </div>
  <div class="leave-status-card">
    <h3>Leave Balance</h3>
    <p>You have {{ request.user.member.leave_balance }} available leaves</p>
  </div>
  <div class="leave-status-card">
    <h3>Approved Leaves</h3>
    <p>You have {{ approvedLeaves }} approved leaves</p>
  </div>
  <div class="leave-status-card">
    <h3>Rejected Leaves</h3>
    <p>You have {{ rejectedLeaves }} rejected leaves</p>
  </div>
</main>
{% endblock content %}
