{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/apply_leave.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<h1 class="title">Leave Application Form</h1>

<form method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="emp_id">Employee ID:</label>
    <input
      readonly
      type="text"
      id="emp_id"
      value="{{ request.user.id }}"
      name="emp_id"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="name">Name:</label>
    <input
      readonly
      type="text"
      id="name"
      value="{{ request.user.member.fname }} {{ request.user.member.lname }}"
      name="name"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      readonly
      type="email"
      id="email"
      value="{{ request.user.member.email }}"
      name="email"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="leave_balance">Leave Balance:</label>
    <input
      type="text"
      id="leave_balance"
      name="leave_balance"
      readonly
      value="{{ request.user.member.leave_balance }}"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" class="form-control" />
  </div>

  <div class="form-group">
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" class="form-control" />
  </div>

  <div class="form-group">
    <label for="reason">Reason for Leave:</label>
    <textarea id="reason" name="reason" class="form-control"></textarea>
  </div>

  <input
    type="submit"
    value="Submit"
    class="btn btn-primary"
    onclick="alert('Leave has been applied.')"
  />
</form>
{% endblock content %}
