{% extends "base.html" %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static '/css/leave_history.css' %}" />
<h1>Leave History</h1>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Days</th>
    <th>Reason</th>
    <th>Status</th>
  </tr>
  <tr>
    {% for leave in leaves %}
    <td>{{ leave.start_date }}</td>
    <td>{{ leave.end_date }}</td>
    <td>{{ leave.days }}</td>
    <td>{{ leave.reason }}</td>
    <td>{{ leave.status }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
