<body style="background-color: lightblue; height: 100vh;">
  <div style="width: 500px; padding: 30px; background-color: white;border: 1px solid #ccc; margin: 0 auto; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h2 style="margin-bottom: 30px;">You have successfully logged out</h2>
    <a href="/" style="background-color: green; color: white; padding: 10px 20px; border: none; border-radius: 5px; margin-top: 20px; cursor: pointer; text-decoration: none;">Go to Login Page</a>
  </div>
</body>

