{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/manageraddemp.css' %}" />
<h2>Employee Management</h2>
<table>
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Name</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    {%for employee in employees %}
    <tr>
      <td>{{employee.user.id}}</td>
      <td>{{employee.fname}} {{employee.lname}}</td>
      <td>{{employee.department}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<h3>Assign Employee to Team</h3>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="employee">Employee:</label>
    <select id="employee" name="employee">
      {%for employee in employees %}
      <option value="{{ employee.user.id }}">
        {{employee.fname}} {{employee.lname}}
      </option>
      {%endfor%}
    </select>
  </div>
  <div class="form-group">
    <label for="team">Team:</label>
    <select id="team" name="team">
      <option value="Marketing">Marketing</option>
      <option value="Development">Development</option>
      <option value="Design">Design</option>
    </select>
  </div>
  <input type="submit" value="Submit" />
</form>
{% endblock content %}
