{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}" />
<header>
  <h1>Profile</h1>
</header>
<script src="{% static 'js/profile.js' %}"></script>

<!-- Profile container -->
<div class="profile-container">
  <h2>Personal Information</h2>
  <form>
    <div class="profile-details">
      <p>
        <span class="profile-label">First Name:</span>
        <input type="text" value="{{ request.user.member.fname }}" />
      </p>

      <p>
        <span class="profile-label">Last Name:</span>
        <input readonly type="text" value="{{ request.user.member.lname }}" />
      </p>

      <p>
        <span class="profile-label">Employee ID:</span>
        <input readonly type="text" value="{{ request.user.id}}" />
      </p>

      <p>
        <span class="profile-label">Date Of Birth:</span>
        <input readonly type="text" value="{{ request.user.member.DOB }}" />
      </p>

      <p>
            <span class="profile-label">Phone Number:</span>
            <input type="number" name="number" oninput="validation(this)" id="phone" value="{{ request.user.member.phone_number }}">
            <span id="error1"></span>
          </p>

          <p>
            <span class="profile-label">Email:</span>
            <input  type="email" name="emailId" value="{{ request.user.member.email }}">
          </p>

      <p>
        <span class="profile-label">Department:</span>
        <input
          readonly
          type="text"
          value="{{ request.user.member.department }}"
        />
      </p>

      <p>
        <span class="profile-label">Designation:</span>
        <input
          readonly
          type="text"
          value="{{ request.user.member.designation }}"
        />
      </p>

      <p>
        <span class="profile-label">Date Of Joining:</span>
        <input readonly type="text" value="{{ request.user.member.doj }}" />
      </p>

      <p>
        <span class="profile-label">Address:</span>
        <input readonly type="text" value="{{ request.user.member.address }}" />
      </p>

      <br />
      <button type="submit" id="submit" onclick="alert('Profile Updated')">Update</button>
    </div>
  </form>
</div>
{% endblock content %}
