{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/teams_page.css' %}" />
<div class="teams">
  <p onclick="showEmployees('team1')">Marketing</p>
  <p onclick="showEmployees('team2')">Development</p>
  <p onclick="showEmployees('team3')">Design</p>
  <p onclick="showEmployees('others')">Others</p>
</div>
<div id="team1" class="employees">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in team1_employees %}
      <tr>
        <td>{{ employee.user.id }}</td>
        <td>{{ employee.fname }} {{ employee.lname }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="team2" class="employees">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in team2_employees %}
      <tr>
        <td>{{ employee.user.id }}</td>
        <td>{{ employee.fname }} {{ employee.lname }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="team3" class="employees">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in team3_employees %}
      <tr>
        <td>{{ employee.user.id }}</td>
        <td>{{ employee.fname }} {{ employee.lname }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="others" class="others">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in others_employees %}
      <tr>
        <td>{{ employee.user.id }}</td>
        <td>{{ employee.fname }} {{ employee.lname }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
